<footer class="bg-dark text-white py-3 mt-5">
  <div class="container d-flex justify-content-between">
    <span>&copy; TRob Supermarket App 2025</span>
    <span>All rights reserved.</span>
  </div>
</footer>
